/* Tablet */
@media (max-width: 992px) {

    .navbar {
        padding: 20px 25px;
    }

    .hero {
        gap: 35px;
        padding: 50px 25px;
    }

    .hero h1 {
        font-size: 46px;
    }

    .hero h2 {
        font-size: 26px;
    }

    .about,
    .skills,
    .projects,
    .experience,
    .certifications,
    .contact {
        padding: 80px 30px;
    }

    .profile-image {
        width: 260px;
        height: 260px;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .certifications-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}




/* Mobile */
@media (max-width: 768px) {

    .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.menu-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 20px 0;
}

.nav-links.active {
    display: flex;
}

    .logo {
        font-size: 22px;
        text-align: center;
    }

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        padding: 40px 20px;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero h1 {
        font-size: 38px;
    }

    .hero h2 {
        font-size: 24px;
    }

    .hero-description {
        font-size: 16px;
    }

    .profile-image {
        width: 220px;
        height: 220px;
    }

    .hero-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .skills-grid,
    .projects-grid,
    .certifications-grid {
        grid-template-columns: 1fr;
    }

    .about,
    .skills,
    .projects,
    .experience,
    .certifications,
    .contact {
        padding: 70px 20px;
    }

    .section-title {
        font-size: 30px;
    }

    .experience-card,
    .certificate-card,
    .skill-card,
    .project-card {
        padding: 22px;
    }

    .contact-links,
    .experience-links {
        justify-content: center;
    }

    .footer {
        padding: 20px;
    }
}